<!DOCTYPE html>
<html lang="en" data-ng-app="AdminModule">
    <head>
        <title>Admin Console</title>
        <link rel='stylesheet' href='/javascripts/vendor/bootstrap-css/css/bootstrap.css' />
        <link rel='stylesheet' href='/stylesheets/style_admin.css' />
        <script type='text/javascript' src='/javascripts/vendor/angular/angular.js'></script>
        <script type='text/javascript' src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js'></script>
        <script type='text/javascript' src='/javascripts/AdminModule.js'></script>
    </head>
    <body data-ng-controller="MainController as main" data-ng-init="main.callDatabase()" >
        <h1>Support Database</h1>
        <br>
        <div class="center_box">
            <div class="display_entry" data-ng-repeat="curSuggest in main.suggestionDB">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 65%; vertical-align: middle;"><strong>Entry:</strong> {{ $index }}</td>
                        <td class="tight" style="text-align:right" data-ng-show="main.isEditing($index)">
                            <button type="button" data-ng-click="main.apply()">Apply</button>
                        </td>
                        <td class="tight" style="text-align:right" data-ng-show="!main.isEditing($index)">
                            <button type="button" data-ng-click="main.edit($index)">Edit</button>
                            <button type="button" data-ng-click="main.delete($index)">Delete</button>
                            <button type="button" data-ng-click="main.moveUp($index)" data-ng-show="!$first">Move Up</button>
                            <button type="button" data-ng-click="main.moveDown($index)" data-ng-show="!$last">Move Down</button>
                        </td>
                    </tr>
                </table>
                <br>
                <div class="display_entry_box">
                    <div data-ng-show="!main.isEditing($index)">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;"><strong>Keywords:</strong></td>
                                <td>
                                    <table>
                                        <tr data-ng-repeat="keyword in curSuggest.keywords track by $index">
                                            <td>{{ keyword }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Suggestion:</strong></td>
                                <td>{{ curSuggest.suggestion }}</td>
                            </tr>
                            <tr>
                                <td><strong>Instruction Link:</strong></td>
                                <td><a target="_blank" data-ng-href="{{curSuggest.instructionLink}}"> {{ curSuggest.instructionLink }} </a></td>
                            </tr>
                            <tr>
                                <td><strong>Platform:</strong></td>
                                <td>{{ curSuggest.platform }}</td>
                            </tr>
                            <tr>
                                <td><strong>Game:</strong></td>
                                <td>{{ curSuggest.game }}</td>
                            </tr>
                            <tr>
                                <td><strong>Views:</strong></td>
                                <td>{{ curSuggest.views }}</td>
                            </tr>
                            <tr>
                                <td><strong>Solved:</strong></td>
                                <td>{{ curSuggest.solved }}</td>
                            </tr>
                        </table>
                    </div>
                    <div data-ng-show="main.isEditing($index)">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">
                                    <strong>Keywords:</strong> <button type="button" data-ng-click="main.addKeyword()">+</button>
                                </td>
                                <td>
                                    <table>
                                        <tr data-ng-repeat="keyword in curSuggest.keywords track by $index">
                                            <td><input type="text" data-ng-model="curSuggest.keywords[$index]"/> <button type="button" data-ng-click="main.deleteKeyword($index)">-</button></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Suggestion:</strong>
                                </td>
                                <td>
                                    <textarea type="text" data-ng-model="curSuggest.suggestion" rows="4"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Instruction Link:</strong>
                                </td>
                                <td>
                                    <input type="text" data-ng-model="curSuggest.instructionLink"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Platform:</strong>
                                </td>
                                <td>
                                    <input type="text" data-ng-model="curSuggest.platform"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Game:</strong>
                                </td>
                                <td>
                                    <input type="text" data-ng-model="curSuggest.game"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Views:</strong>
                                </td>
                                <td>
                                    <input type="text" data-ng-model="curSuggest.views"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Solved:</strong>
                                </td>
                                <td>
                                    <input type="text" data-ng-model="curSuggest.solved"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                </div>
                <div class="display_entry_end">
                    <br>
                </div>
                <br>
            </div>
            <br>
            <button type="button" data-ng-click="main.addNew()">Add New Entry</button>
            <button type="button" data-ng-click="main.saveChanges()">Save Changes</button>
        </div>
    </body>
</html>