<!DOCTYPE html>
<html lang="en" data-ng-app="SupportModule">
    <head>
        <title>Auralux Support and Feedback</title>
        <link rel='stylesheet' href='/javascripts/vendor/bootstrap-css/css/bootstrap.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="shortcut icon" href="/images/Auralux.ico" type="image/x-icon" />
        <script type='text/javascript' src='/javascripts/vendor/angular/angular.js'></script>
        <script type='text/javascript' src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js'></script>
        <script type='text/javascript' src='/javascripts/SupportModule.js'></script>
    </head>
    <body data-ng-controller="MainController as main" >
        <div class="image">
            <a href="http://www.auraluxgame.com"><img src="/images/auralux_logo.png"/></a>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="center_box">
            <!--<div class="notintro" data-ng-controller="TodoListController"> <!--Added by Andrew B
                <form data-ng-submit="TodoListController.Update()">
                    <input data-ng-model="TodoListController.keywords[0]" type="text" /> Keywords0 <br>
                    <input data-ng-model="TodoListController.keywords[1]" type="text" /> Keywords1 <br>
                    <input data-ng-model="TodoListController.keywords[2]" type="text" /> Keywords2 <br>
                    <input data-ng-model="TodoListController.suggestion" type="text" /> Suggestion <br>
                    <input data-ng-model="TodoListController.platform" type="text" /> Platform <br>
                    <input type="submit" />
                </form>
            </div>-->
            <div class="intro" data-ng-show="main.selected === 0">
                <p>
                    Thanks for contacting War Drum Studios about Auralux. What do you need help with?
                </p>
                <ul>
                    <li class="main_option"><a href data-ng-click="main.select(1)">I am having technical problems with the game</a></li>
                    <li class="main_option"><a href data-ng-click="main.select(2)">I have a suggestion to make the game better!</a></li>
                    <li class="main_option"><a href data-ng-click="main.select(3)">I'd like to request a refund for a purchased item</a></li>
                </ul>
            </div>
            <div class="technical" data-ng-show="main.isSelected(1)" data-ng-controller="TechnicalController as tech">
                <form novalidate data-ng-submit="tech.findSuggestions()" data-ng-show="!tech.shouldShowSendEmail() && !tech.shouldShowCongrats()">
                    Ok, that's not cool! Please describe your problem here and we'll try to help you immediately:
                    <br><br>
                    <input data-ng-model="tech.problem" type="text" required />
                    <br>
                    <input type="submit" data-ng-show="tech.shouldShowSubmit()"/>
                </form>
                <!--<form data-ng-submit="tech.uploadToMongolab()">
                    <input data-ng-model="tech.keywords[0]" type="text" /> Keywords0 <br>
                    <input data-ng-model="tech.keywords[1]" type="text" /> Keywords1 <br>
                    <input data-ng-model="tech.keywords[2]" type="text" /> Keywords2 <br>
                    <input data-ng-model="tech.suggestion" type="text" /> Suggestion <br>
                    <input data-ng-model="tech.platform" type="text" /> Platform <br>
                    <input type="submit" />
                </form>-->
                <div data-ng-show="tech.shouldShowSuggestion()" data-ng-repeat="curSuggest in tech.suggestions">
                    {{ curSuggest.suggestion }}
                    <div data-ng-show="curSuggest.instructionLink != null">
                        <br>
                        <a target="_blank" data-ng-href="{{ curSuggest.instructionLink }}">Instructions</a>
                    </div>
                    <br>
                    <div data-ng-show="curSuggest === tech.suggestions[tech.suggestions.length-1]">
                        <br>Did that work?
                        <a href data-ng-click="tech.foundSolution()">Yes</a>
                        <a href data-ng-click="tech.nextSuggestion()">No</a>
                    </div>
                    <div data-ng-show="curSuggest !== tech.suggestions[tech.suggestions.length-1]">
                        <br>Ok, how about this:
                        <br><br>
                    </div>
                </div>
                <div data-ng-show="tech.shouldShowSendEmail()">
                    Ok, it looks like we are going to have to work on this a little more. Make sure your problem is very well explained in the box below, provide us with your email address and we will get back to you as soon as possible.
                    <br><br>
                    <form novalidate data-ng-submit="tech.sendEmail()">
                        <table>
                            <tr>
                                <td class="td_header">Problem Description:</td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea rows="6" data-ng-model="tech.problem" required>
                                    </textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_header">Email:</td>
                            </tr>
                            <tr>
                                <td>
                                    <input data-ng-model="tech.email" type="email" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br>
                                    <input type="Submit"/>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div data-ng-show="tech.shouldShowCongrats()">
                    Awesome! We're glad that worked for you! Thanks for playing Auralux! Please feel free to contact us if you have any other problems or suggestions.
                    <br><br>
                    <a target="_blank" href="https://www.facebook.com/pages/War-Drum-Studios/127406327275082">War Drum Studios on Facebook</a>
                    <br><br>
                    <a target="_blank" href="https://twitter.com/wardrumstudios">War Drum Studios on Twitter</a>
                    <br>
                </div>
            </div>
            <div class="suggestion" data-ng-show="main.isSelected(2)">
                <p>
                    Great! Please send us an <a href="mailto:support@wardrumstudios.com?subject=Auralux Suggestion">email</a>. We are always eager to hear about new ideas and improvements for our games!
                </p>
            </div>
                
            <div class="refund" data-ng-show="main.isSelected(3)">
                <p>
                    Ok, please send us an <a href="mailto:support@wardrumstudios.com?subject=Auralux Refund">email</a> with the details about what you need to be refunded and why. Please keep in mind we have a few policies regarding refunds for Auralux:
                </p>
                <ul>
                    <li>Refunds are only provided for purchases within the last 14 days</li>
                    <li>We can only cancel or refund orders through Apple or Google themselves, we cannot directly refund your account</li>
                    <li>Sometimes your purchases may not work for something easily fixable! For instance, try <a href="https://support.google.com/googleplay/troubleshooter/4592924?hl=en#ts=4592730">clearing your Google Play cache.</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>